<div class="centered-content">
  <!--<h3><b>ABOUT CHINESE MEI SOCIETY</b></h3>-->
  <h2><b>About Chinese Mei Society</b></h2>

  <h6><b>CHINESE MEI SOCIETY IS A CLUB DEDICATED TO BUILDING A COMMUNITY CONNECTED BY CHINESE AND CHINESE-AMERICAN CULTURE.</b></h6>
  <!--<h6><b>Chinese Mei Society is a club dedicated to building a community connected by Chinese and Chinese-American culture.</b></h6>-->

  <iframe src="https://www.youtube.com/embed/ZymfMS0zQR4"></iframe>

  <!--<section class="container">-->
  <div class="left-column">
    <p class='quote'>Chinese Mei Society is one of New York University's most prominent Asian cultural clubs on campus with over 1200 members.</p>

    <h4><b>ORIGINS</b></h4>
    <p>CMS was originally founded in 1988 as an acapella group. <br>
      The "Mei" in Chinese Mei Society originates from the word 梅, which means plum blossom. Just like a plum blossom, the founders of CMS hoped for the club to blossom at New York University.</p>
  </div>

  <div class="right-column">
    <h4><b>PAST EVENTS</b></h4>
    <ul>
      <li>Game Night</li>
      <li>Spooky Foods Festival</li>
      <li>Holiday Soiree</li>
      <li>Dessert Tasting</li>
      <li>YUAN</li>
      <li>Bubble Tea Tasting</li>
      <li>Soup Dumpling Tasting</li>
      <li>Mooncakes and Tea E-board Interest Meeting</li>
    </ul>
  </div>
<!--</section>-->
</div>
