<div id="background"> </div>
<div class="centered-content">
  <h2><b>Contact</b></h2>

  <p>Let us know how we're doing! By filling out this form, you can let us know what you think about the club and/or give any suggestions to us. Your feedback is always helpful!</p>
  <p>Note: You can submit anonymously, but we prefer that you tell us your name and email so we can reply back to you :)</p>

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSczcaSSimmUxmLCKInMCFjq4fFgrmlzL0wCgBEwEBj_v-PYvw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  
  <!--<form>
    <div class="row">
      <div class="large-6 columns">
        <label>First Name *
          <input type="text" name="firstName" required/>
        </label>
      </div>
      <div class="large-6 columns">
        <label>Last Name
          <input type="text" name="lastName" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Email Address
          <input type="text" name="email" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>NYU NetID
          <input type="text" name="netID" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>School
          <input type="text" name="school" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Major
          <input type="text" name="major" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Year
          <input type="text" name="year" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Feedback *
          <p class="help-text">Type your message in the box below. Please be honest and respectful. We take your feedback seriously.</p>
          <textarea name="feedback" required></textarea>
        </label>
      </div>
    </div>
    <div class="row" style="display:none;">
      <div class="large-12 columns">
        <label>Company
          <input type="text" name="company" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-1 columns">
        <input type="submit" class="button" value="Submit">
      </div>
    </div>
  </form>-->
</div>
