<div id="background"> </div>
<div class="centered-content">
  <h2><b>Executive Board</b></h2>

  <p>Meet the Spring 2018 executive board members of Chinese Mei Society!</p>

  <img src="/images/eboard.jpg" class="eboard-full-img"/>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/tina.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Tina Kong</b></h4>
      <h6><b>CO-PRESIDENT, COLLEGE OF ARTS &amp SCIENCE '18</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/erica.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Erica Peng</b></h4>
      <h6><b>CO-PRESIDENT, COLLEGE OF ARTS &amp SCIENCE '18</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/jae.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Jae-woo Shin</b></h4>
      <h6><b>CO-VICE PRESIDENT, COLLEGE OF ARTS &amp SCIENCE '18</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/keya.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Keya You</b></h4>
      <h6><b>CO-VICE PRESIDENT, TISCH SCHOOL OF ARTS '18</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/tommy.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Tommy Lin</b></h4>
      <h6><b>SENIOR ADVISOR, COLLEGE OF ARTS &amp SCIENCE '18</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/chaokun.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Chaokun Wangli</b></h4>
      <h6><b>TREASURER, STERN SCHOOL OF BUSINESS '20</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/grace.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Grace Yan</b></h4>
      <h6><b>EVENTS DIRECTOR, LIBERAL STUDIES '19</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/rieka.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Rieka Chiwata</b></h4>
      <h6><b>EVENTS DIRECTOR, COLLEGE OF ARTS &amp SCIENCE '19</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/richard.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Richard Zhang</b></h4>
      <h6><b>EVENTS DIRECTOR, STERN SCHOOL OF BUSINESS '19</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/kady.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Kady Pei</b></h4>
      <h6><b>HISTORIAN, COLLEGE OF ARTS &amp SCIENCE '20</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/candace.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Candace Tan</b></h4>
      <h6><b>MARKETING DIRECTOR, STEINHARDT '21</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/amy.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Amy Liu</b></h4>
      <h6><b>SECRETARY, LIBERAL STUDIES '21</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/east.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>East Li</b></h4>
      <h6><b>DYNASTY LEADER, STERN SCHOOL OF BUSINESS '19</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/jessica.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Jessica Zhu</b></h4>
      <h6><b>FRESHMAN REPRESENTATIVE, TISCH SCHOOL OF THE ARTS '21</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/selina.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Selina He</b></h4>
      <h6><b>SOPHMORE REPRESENTATIVE, COLLEGE OF ARTS &amp SCIENCE '20</b></h6>
      <p></p>
    </div>
  </div>

    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
          <img src="/images/Eboard_Profiles/emily.jpg" />
        </div>
      </div>
      <div class="media-object-section">
        <h4><b>Emily Liu</b></h4>
        <h6><b>SOPHMORE REPRESENTATIVE, STERN SCHOOL OF BUSINESS '20</b></h6>
        <p></p>
      </div>
    </div>

      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src="/images/Eboard_Profiles/connie.jpg" />
          </div>
        </div>
        <div class="media-object-section">
          <h4><b>Connie Wu</b></h4>
          <h6><b>SOPHMORE REPRESENTATIVE, STERN SCHOOL OF BUSINESS '20</b></h6>
          <p></p>
        </div>
      </div>


</div>
