<div id="background"> </div>
<div class="centered-content">
  <h2><b>Executive Board</b></h2>

  <p>Meet the 2017-2018 executive board members of Chinese Mei Society!</p>

  <img src="/images/eboard.jpg" class="eboard-full-img"/>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/tina.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Tina Kong</b></h4>
      <h6><b>CO-PRESIDENT, COLLEGE OF ARTS &amp SCIENCE '18</b></h6>
      <p>Tina is a currently a Sophomore Rep in CAS. Her major is undecided for now, but she is minoring in Creative Writing and Chinese and knows she wants to study medicine in the future. She grew up in Sharon, MA, but since her town is so small, she’s gotten used to introducing herself as from “around Boston”. She is super passionate about creative writing (look out for her novels in the future...though perhaps not the near future) and also enjoys reading, eating, and dancing. Feel free to hit her up for anything—though fair warning: Tina has a habit of overestimating how much she can eat. If you hit her up for food, be prepared to eat a lot and possibly endure her whining of having eaten too much</p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/erica.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Erica Peng</b></h4>
      <h6><b>CO-PRESIDENT, COLLEGE OF ARTS &amp SCIENCE '18</b></h6>
      <p>Erica is one of the few shemales studying computer science in the School of Engineering! Born in Maryland, she enjoys baking desserts, so if you ever need sweets, just visit her at Othmer Hall. Besides Maryland, she was also born in the water. She swam competitively for 12 years, and she even swam with the dolphin Katie Ledecky, Olympic gold-medalist and only 17 years old! Sadly, Erica’s now allergic to chlorine and hated the 4 A.M. mornings so she became a terrestrial land animal. She identifies more with koalas now. Such is the life of the metamorphosis of amphibians. PS: Did you know? If koalas pee on you, you can get chlamydia (STD).</p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/jae.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Jae-woo Shin</b></h4>
      <h6><b>CO-VICE PRESIDENT, COLLEGE OF ARTS &amp SCIENCE '18</b></h6>
      <p>Jae is a biochemistry major at CAS. He is from New York and likes to play baseball. One of his favorite hobbies is going to pet stores to watch dogs. He plans on having a golden retriever in the future. He loves cheese flavored chex mix (ONLY CHEESE FLAVORED) and chocolate, which includes chocolate covered grasshoppers. He someday dreams of swimming in a chocolate pool will with fried grasshoppers and silkworms. OR EVEN BETTER JUST GRASSHOPPERS NO CHOCOLATE. P.S. did you know that he has 3000 concubines and 40 mistresses all waiting at his summer palace in Shen Zhen, China. He is the lead Triad of the CMS Triad gang. GGWP Jae, I’m calling the cops on your ass. Jae is one child out of a million raised by mountain lions. His human mother tried to eat him when he was first born, but the lions rescued him from his decrepid home and took him away. He has now become a chimera - part lion part human. He has a fluffy belly and wishes that everyone who sees him would rub it. So if you see him, he would be very grateful for that.</p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/keya.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Keya You</b></h4>
      <h6><b>CO-VICE PRESIDENT, TISCH SCHOOL OF ARTS '18</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/tommy.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Tommy Lin</b></h4>
      <h6><b>SENIOR ADVISOR, COLLEGE OF ARTS &amp SCIENCE '18</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/amber.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Amber Luo</b></h4>
      <h6><b>SECRETARY, LIBERAL STUDIES '19</b></h6>
      <p>Amber is currently a Freshman Rep and is in the Liberal Studies Program, going into Psychology and/or Music Therapy. She lived in Canada for four years even though she does not quite remember anything about it anymore...  and has been living in Taiwan ever since. She loves swimming and attempting to eat healthy food, though junk food and kbbq always tears down the walls of defense. She is also very addicted to social media and never misses out on people’s facebook updates! The biggest part about her that you should know, is that she has maintained a consistent weekly turn up schedule, and is planning to stay that way… until maybe when her wallet starts to cry for help. Feel free to hit her up and turn up with her!</p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/chaokun.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Chaokun Wangli</b></h4>
      <h6><b>TREASURER, STERN SCHOOL OF BUSINESS '20</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/kiki.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Kiki Yang</b></h4>
      <h6><b>EVENTS DIRECTOR, LIBERAL STUDIES '19</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/grace.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Grace Yan</b></h4>
      <h6><b>EVENTS DIRECTOR, LIBERAL STUDIES '19</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/rieka.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Rieka Chiwata</b></h4>
      <h6><b>EVENTS DIRECTOR, COLLEGE OF ARTS &amp SCIENCE '19</b></h6>
      <p>Rieka joined CMS as co-marketing director, and is a CAS freshman. She’s been recycling the “fun fact” that she’s from Japan and is Japanese-Chinese ever since she got to NYU. Since it’s her first time living abroad, she’s an unabashed tourist and will not hesitate to take selfies with the nearest semi-impressive monument (see: mandatory Washington Square Park pic). She loves food -- especially Chinese and Japanese food -- and is always on the hunt for cheap eats! Apart from eating, Rieka also enjoys watching American and Japanese T.V. shows, baking, and traveling. If anyone has a kitchen and wants a free pan of brownies, let her know!</p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/kady.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Kady Pei</b></h4>
      <h6><b>HISTORIAN, COLLEGE OF ARTS &amp SCIENCE '20</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/michael.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Michael You</b></h4>
      <h6><b>SOPHMORE REPRESENTATIVE, STERN SCHOOL OF BUSINESS '20</b></h6>
      <p></p>
    </div>
  </div>

  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="/images/Eboard_Profiles/selina.jpg" />
      </div>
    </div>
    <div class="media-object-section">
      <h4><b>Selina He</b></h4>
      <h6><b>SOPHMORE REPRESENTATIVE, COLLEGE OF ARTS &amp SCIENCE '20</b></h6>
      <p></p>
    </div>
  </div>


</div>
