<div class="centered-slider">
<h2><b>Bubble Tea Tasting</b></h2>
<p>Join us for bbt and fun :)</p>
<div class="image-slider">
  <img src="/images/study-break.jpg" class="sliderimg" />
  <img src="/images/soup-dumpling-tasting.jpg" class="sliderimg" />
  <img src="/images/christmas-soiree.jpg" class="sliderimg" />
</div>
</div>
