<div class="centered-slider">
  <h2><b>{{title}}</b></h2>
  {{#each description}}
    <p>{{this}}</p>
  {{/each}}
  <div class="image-slider">
    {{#each photos}}
    <img src={{this}} class="sliderimg" />
    {{/each}}
  </div>
</div>
