<section class="screen" onmouseenter="screenHovered()" onmouseleave="screenUnhovered()">

  <div id="cf4">
    <!--2048x1365 ratio is 1.50-->
    <img src="/images/study-break.jpg" class="cf4img" />
    <!--3456x2304 ratio is 1.5-->
    <img src="/images/soup-dumpling-tasting.jpg" class="cf4img" />
    <!--3456x2304 ratio is 1.5-->
    <img src="/images/christmas-soiree.jpg" class="cf4img" />
    <!--6000x4000 ratio is 1.5-->
    <img src="/images/bubble-tea-tasting.jpg" class="cf4img" />
    <!--2048x1153 ratio is 1.77-->
    <img src="/images/yuan.jpg" class="cf4img" />
  </div>

  <a class="prev" onclick="prevSlide()">&#10094;</a>
  <a class="next" onclick="nextSlide()">&#10095;</a>

  <a class="imglabel" href="/events/study-break"><span class="folder">EVENTS /</span> STUDY BREAK</a>
  <a class="imglabel" href="/events/soup-dumpling-tasting"><span class="folder">EVENTS /</span> SOUP DUMPLING TASTING</a>
  <a class="imglabel" href="/events/christmas-soiree"><span class="folder">EVENTS /</span> CHRISTMAS SOIREE</a>
  <a class="imglabel" href="/events/bubble-tea-tasting"><span class="folder">EVENTS /</span> BUBBLE TEA TASTING</a>
  <a class="imglabel" href="/events/yuan"><span class="folder">EVENTS /</span> YUAN</a>
</section>
