<section class="screen" onmouseenter="screenHovered()" onmouseleave="screenUnhovered()">

  <div id="cf4">
    <img src="/images/study-break.jpg" class="cf4img" />
    <img src="/images/soup-dumpling-tasting.jpg" class="cf4img" />
    <img src="/images/christmas-soiree.jpg" class="cf4img" />
    <img src="/images/bubble-tea-tasting.jpg" class="cf4img" />
    <img src="/images/yuan.jpg" class="cf4img" />
  </div>

  <a class="prev" onclick="prevSlide()">&#10094;</a>
  <a class="next" onclick="nextSlide()">&#10095;</a>

  <a class="imglabel"><span class="folder">EVENTS /</span> STUDY BREAK</a>
  <a class="imglabel"><span class="folder">EVENTS /</span> SOUP DUMPLING TASTING</a>
  <a class="imglabel"><span class="folder">EVENTS /</span> CHRISTMAS SOIREE</a>
  <a class="imglabel"><span class="folder">EVENTS /</span> BUBBLE TEA TASTING</a>
  <a class="imglabel"><span class="folder">EVENTS /</span> YUAN</a>
</section>
