<div id="background"> </div>
<div class="centered-content">
  <h2><b>Stay Updated With Our Shenanigans!</b></h2>
  <h6><b>LIKE US ON <a href="https://www.facebook.com/cmsnyu" target="_blank">FACEBOOK</a> AND JOIN US ON <a href="https://orgsync.com/61667/chapter" target="_blank">ORGSYNC</a> TO RECEIVE INVITATIONS TO OUR EVENTS AND COMMUNITY SERVICE EFFORTS.</b></h6>

  <h3><b>Interested in Joining the Eboard?</b></h3>
  <p>Fill out the brief application below to be notified when spots are available!</p>

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdOnJ6tqRXsuIb90mzYdkDmovD2WKOonbOOD6bUy-aAuAs3UQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

  <!--<form method="POST" action="">
    <div class="row">
      <div class="large-6 columns">
        <label>First Name *
          <input type="text" name="firstName" required/>
        </label>
      </div>
      <div class="large-6 columns">
        <label>Last Name *
          <input type="text" name="lastName" required/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Email Address *
          <input type="text" name="email" required/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>NYU NetID *
          <input type="text" name="netID" required/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>School
          <input type="text" name="school" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Major
          <input type="text" name="major" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Year
          <input type="text" name="year" />
        </label>
      </div>
    </div>
    <div class="row" style="display:none;">
      <div class="large-12 columns">
        <label>Company
          <input type="text" name="company" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-1 columns">
        <input type="submit" class="button" value="Submit">
      </div>
    </div>
  </form>-->
</div>
