<!DOCTYPE html>
<html>
  <head>
    <title>Chinese Mei Society</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>

    <div class="title-bar dark" data-responsive-toggle="mainmenu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="mainmenu" style="float:right;"></button>
    </div>

    <div class="header-div" id="header-menu">
      <a href="/">
        <img src="/images/CMS-Logo.png" style="width:110px;height:110px;">
      </a>
      <ul class="vertical medium-horizontal dropdown menu float-right dark" id="mainmenu" data-responsive-menu="drilldown medium-dropdown">
      <!--<ul class="vertical medium-horizontal dropdown menu float-right dark" id="mainmenu" data-dropdown-menu>-->
        <li><a href="/about">About</a></li>
        <li>
          <a>Events</a>
          <ul class="menu">
            <li><a href="/events/yuan">Yuan</a></li>
            <li><a href="/events/bubble-tea-tasting">Bubble Tea Tasting</a></li>
            <li><a href="/events/christmas-soiree">Christmas Soiree</a></li>
            <li><a href="/events/soup-dumpling-tasting">Soup Dumpling Tasting</a></li>
            <li><a href="/events/study-break">Snowdays Study Break</a></li>
          </ul>
        </li>
        <li><a href="/eboard">Eboard</a></li>
        <li><a href='/join'>Join Us!</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    {{{body}}}
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/vendor/what-input.js"></script>
    <script src="/javascripts/vendor/foundation.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript">
    var $s = $.noConflict(true);
    </script>
    <script type="text/javascript" src="/slick/slick.js"></script>
    <script src="/javascripts/carousel.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
