/*==== FOR LAYOUT ====*/
div.header-div{
  padding: 10px;
  margin: 0px;
}
div.header-div img {
  padding: 5px;
}

* {
  /*font-family: "Proxima Nova", arial, sans-serif;*/
  font-family: 'Quicksand', sans-serif;
}

.menu a {
  color: white;
  font-family: "Proxima Nova", arial, sans-serif;
}
.menu.dark a {
  color: black;
}
.menu a:hover {
  text-decoration: underline;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-top-color: white;
}
.dropdown.menu.dark > li.is-dropdown-submenu-parent > a::after {
  border-top-color: black;
}

.is-dropdown-submenu a {
  color: rgba(0,0,0,0.6);
}

iframe {
  width: 750px;
  height: 400px;
}

div.centered-content {
  width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.centered-content h2,h6,iframe {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
}

/*==== FORTE HOME ====*/
#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   background-color: black;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/*based off the image fader found here http://css3.bradshawenterprises.com/cfimg/*/
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  19% {
    opacity:1;
  }
  20% {
    opacity:0;
  }
  99% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf4 {
  position: fixed;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  margin:0 auto;
  z-index: -900;
  outline: #00FF00 dotted thick;
}

#cf4 img {
  background-size: cover;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left:0;
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-direction: normal;
  width: 100%;
  height: auto;
}

#cf4 img:nth-of-type(1) {
  animation-delay: 32s;
}
#cf4 img:nth-of-type(2) {
  animation-delay: 24s;
}
#cf4 img:nth-of-type(3) {
  animation-delay: 16s;
}
#cf4 img:nth-of-type(4) {
  animation-delay: 8s;
}
#cf4 img:nth-of-type(5) {
  animation-delay: 0s;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a white background color */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0,0.6);
}

/* when screen is hoverd, pause animation */
.screen:hover > #cf4 img {
  animation-play-state: paused;
}

/* styling bottom left link */
.imglabel {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  color: black;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 90%;
  font-family: "Proxima Nova", arial, sans-serif;
}

.folder {
  color: gray;
}

/*==== ABOUT ====*/
.left-column {
    width: 46%;
    height: 500px;
    float: left;
}
.right-column {
    margin-left: 54%;
    height: 500px;
}
.quote {
  font-size: 20px;
  line-height:25px;
  margin-bottom: 30px;
}
#background {
  position: fixed;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  margin:0 auto;
  z-index: -900;
  background-image: url("../images/background.jpg");
  background-size: cover;
  opacity: 0.15;
}

/*==== EVENT PAGES ====*/
div.centered-slider {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.centered-slider h2,p,.image-slider {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 20px;
}
.image-slider {
  height: 400px;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sliderimg {
  height: 400px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.slick-prev:before, .slick-next:before {
  color: gray;
}
