/*==== FOR LAYOUT ====*/
div.header-div{
  padding: 10px;
}
div.header-div img {
  padding: 5px;
}

* {
  font-family: "Proxima Nova", arial, sans-serif;
}

.menu a {
  color: white;
  /*font-family: "Proxima Nova", arial, sans-serif;*/
}
.menu a:hover {
  text-decoration: underline;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-top-color: white;
}

.is-dropdown-submenu a {
  color: rgba(0,0,0,0.6);
}

/*==== FORTE HOME ====*/
/*based off the image fader found here http://css3.bradshawenterprises.com/cfimg/*/
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  19% {
    opacity:1;
  }
  20% {
    opacity:0;
  }
  99% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf4 {
  position: fixed;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  margin:0 auto;
  z-index: -900;
}

#cf4 img {
  position:absolute;
  left:0;
  /*-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;*/
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-direction: normal;
  /*animation-play-state: running;*/
  width: 100%;
  height: auto;
}

#cf4 img:nth-of-type(1) {
  animation-delay: 32s;
}
#cf4 img:nth-of-type(2) {
  animation-delay: 24s;
}
#cf4 img:nth-of-type(3) {
  animation-delay: 16s;
}
#cf4 img:nth-of-type(4) {
  animation-delay: 8s;
}
#cf4 img:nth-of-type(5) {
  animation-delay: 0s;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a white background color */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0,0.6);
}

/* when screen is hoverd, pause animation */
.screen:hover > #cf4 img {
  animation-play-state: paused;
}

/* styling bottom left link */
.imglabel {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  color: black;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 90%;
}

.folder {
  color: gray;
}
